.heroSection {
    margin: 4rem;
    height: 100%;
    width: 90%;
}

.titleContent {
    cursor: pointer;
    width: fit-content;
}
.aboutWrapper {
    position: relative;
    border-radius: 1rem;
}

/* .previewContent {
    position: absolute;
    width: 7rem;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.05);
} */

.expandableComponent {
    border-radius: 1rem;
    z-index: 2; /* Keeps the component above the text content */
    width: fit-content;
    transform: translateX(0rem);
    transition: transform 0.5s;
    cursor: pointer;
    background-color: white;
}

/* .expandableComponent:hover {
    transform: translateX(6rem);
    transition: transform 0.5s;
} */

.hiddenAboutContent {
    display: none;
}

.about {
    transform: translate(50vw)
}

.profilePic {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Customize shadow here */
}

.name {
    margin-bottom: 0.25rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); /* Customize shadow here */
}

.description {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); /* Customize shadow here */
}

.solutionsWrapper {
    display: inline;
    line-height: 3ch;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); /* Customize shadow here */
}

.fancyText {
    display: inline-flex; /* Ensures displayedText and flashingBox are treated as a single unit */
    align-items: center;  /* Adjusts vertical alignment */
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); /* Customize shadow here */

}

.flashingBox {
    width: 1ch;
    height: 2ch;
    background-color: black;
    color: white;
    animation-name: flashingBoxAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1); /* Instant change with no fade */
}

@keyframes flashingBoxAnimation {
    0%   { background-color: black; }
    50%  { background-color: white; }
    100% { background-color: black; }
}

.cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}