.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem;
    height: 100%;
    width: 90%;
    margin-left: 12%;
}

.titleContent {
    cursor: pointer;
    width: fit-content;
}
.aboutWrapper {
    position: relative;
    border-radius: 1rem;
}

.experienceWrapper {
    cursor: pointer;
}

.about {
    transform: translate(50vw)
}

.profilePic {
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
}

.name {
    margin-bottom: 0.25rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15); 
}

.description {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 
}

.solutionsWrapper {
    display: inline;
    line-height: 3ch;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); 
}

.fancyText {
    display: inline-flex;
    align-items: center; 
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

}

.flashingBox {
    width: 1ch;
    height: 2ch;
    background-color: black;
    color: white;
    animation-name: flashingBoxAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1);
}

@keyframes flashingBoxAnimation {
    0%   { background-color: black; }
    50%  { background-color: white; }
    100% { background-color: black; }
}

.cta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}