.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3rem;
    min-height: 3rem;
    padding: 0;
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
    transition: background-color 0.25s, transform 0.25s;
}

.iconButton:hover {
    /* add hover transition */
    background-color: whitesmoke;
    transform: scale(1.1);
    transition: background-color 0.25s, transform 0.25s;
}

.styled-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.downloadButton {
    display: inline-block;
    text-decoration: none;
    background-color: white; /* Customize button color */
    color: black;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    border: 0.5px solid rgba(0,0,0,0.25);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.downloadButton:hover {
    background-color: white;
    transform: translateY(-2px);
}

.downloadButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.4);
}
  