
/* chip styles */
.chip {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  color: var(--color-white);
  font-size: 0.85em;
  font-weight: bold;
}